
.transtion-all{
  transition: all 0.4s ease;
}

.progress-bar{
  @extend .transtion-all;
}

.arrow{
  position: absolute;
  top:7px;
  font-size: 25px;
  @extend .transtion-all;
  span{
    display: block;
    font-size: 15px;
  }
}

.target{
  background: #CCC;
  color:#FFF;
}
