<div class="box rounded bg-gray w-100">
  <h1>Your Progress</h1>

  <div class="box rounded bg-white mt-3">

    <div class="d-flex flex-row align-items-center ">
      <b>Reached:</b>

      <div class="w-75 relative-pos mx-2">
        <div class="progress">
          <div class="progress-bar" role="progressbar" [style.width]="(progress/target)*100 + '%'" [attr.aria-valuenow]="progress" aria-valuemin="0" [attr.aria-valuemax]="target"></div>
          <div class="arrow" [style.left]="(progress/target)*100 - boxWidth/2 + '%'">
            <i class="fa fa-angle-up"></i>
            <span>${{progress}}</span>
          </div>
        </div>
      </div>

      <div class="target rounded p-2">
        <p>Target</p>
        <p>${{target}}</p>
      </div>
    </div>
    <p class="text-center mt-3"><i class="fa fa-info-circle"></i> You need ${{target-progress}} more to reach your target</p>
  </div>
</div>
