<main class="container-fluid h-100">
  <div class="row h-100">
    <div class="col-12 col-md-6 offset-md-3 h-100 d-flex flex- align-items-center">
      <app-progressbox></app-progressbox>
    </div>
  </div>
</main>
