/* You can add global styles to this file, and also import other style files */

html, body{
  height: 100%;
}
body{
  font-size: 14px;

  h1{
    font-size: 20px;
  }
  p {
    margin: 0;
    i {
      color: #8d8eff;
    }
  }
}

.relative-pos{
  position: relative;
}

.bg-gray{
  background: #CCC;
}
.bg-white{
  background: #FFF;
}
.box{
  border: 1px solid #000;
  padding: 10px;
}
app-progressbox{
  width: 100%;
}
